.signin-wrapper {
    background: blue;
    height: 100vh;
    width: 100%
}

.signin-wrapper nav {
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.signin-wrapper .left-side div {
    width: 87px;
    height: 19px;
}

.signin-wrapper .left-side div img {
    width: 100%;
    height: 100%;
}

.signin-wrapper .right-side, .signin-wrapper .left-side {
    padding: 0
}

.signin-wrapper nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-wrapper nav ul li {
    margin-left: 20px;
    list-style-type: none;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 11.5px;
    color: #fff;
}

.signin-wrapper nav ul button {
    border: 2px solid #fff;
    padding: 10px 7px;
    background: transparent;
    border-radius: 2px;
    font-family: Montserrat;
    color: #fff;
    font-size: 11.5px;
    font-weight: 600;
}

.signin-wrapper nav ul button:hover {
    cursor: pointer
}

.signin-wrapper .right-side .product {
    display: flex
}

.signin-wrapper .right-side .product:hover {
    cursor: pointer;
}

.signin-wrapper .right-side ul a {
    margin-right: 5px;
    text-decoration: none;
    color: #fff
}

.signin-wrapper .right-side .product img {
    width: 10px;
    height: 10px
}

.product div {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    top: 72px;
    width: 200px;
    height: auto;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 5px;
    border-radius: 1px;
}

.product div ul {
    display: block;
    padding: 8px 10px 8px 10px;
}

.product div ul li {
    color: #000;
    font-family: Montserrat;
    font-weight: 500;
    margin: 0;
    padding: 7px
}

.triangle {
    max-height: 0;
    width: 24px;
    height: 14px;
    position: absolute;
    top: 60px;
    right: 355px;
}

.triangle img {
    width: 100%;
    height: 100%;
}

.product:hover .product div {
    max-height: 100%
}