.signin-wrapper {
    background: #1652f0;
    height: 100vh;
    width: 100%
}

.signin-wrapper nav {
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.signin-wrapper .left-side div {
    width: 87px;
    height: 19px;
}

.signin-wrapper .left-side div img {
    width: 100%;
    height: 100%;
}

.signin-wrapper .right-side, .signin-wrapper .left-side {
    padding: 0
}

.signin-wrapper nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-wrapper nav ul li {
    margin-left: 20px;
    list-style-type: none;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 11.5px;
    color: #fff;
}

.signin-wrapper nav ul button {
    border: 2px solid #fff;
    padding: 10px 7px;
    background: transparent;
    border-radius: 2px;
    font-family: Montserrat;
    color: #fff;
    font-size: 11.5px;
    font-weight: 600;
}

.signin-wrapper nav ul button:hover {
    cursor: pointer
}

.signin-wrapper .right-side ul a {
    margin-right: 5px;
    text-decoration: none;
    color: #fff
}

.product img {
    width: 10px;
    height: 10px
}

.product-dropdown {
    position: absolute;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    top: 11%;
    width: 200px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 5px;
    border-radius: 1px;
    z-index: 1;
    transition: opacity 0.15s ease-in
}

.product-dropdown li {
    display: flex;
    justify-content: space-between;
}

.product a {
    padding-bottom: 30px
}

.product div ul {
    display: block;
    padding: 8px 10px 8px 10px;
}

.product div ul li {
    color: #000;
    font-family: Montserrat;
    font-weight: 500;
    margin: 0;
    padding: 7px
}

.product div ul li:hover {
    cursor: pointer;
    color: #076bd3
}

.triangle {
    max-height: 0;
    width: 24px;
    height: 14px;
    position: absolute;
    top: 9.5%;
    opacity: 0;
    right: 365px;
    transition: opacity 0.15s ease-in
}

.triangle img {
    width: 100%;
    height: 100%;
}

.product:hover .product-dropdown {
    opacity: 1;
    max-height: 100%;
}

.product:hover .triangle {
    opacity: 1;
    max-height: 100%;
}

.signin-wrapper h1 {
    text-align: center;
    color: #fff;
    margin-top: 35px;
    margin-bottom: 45px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 23px
}

.coinbase-login {
    width: 360px;
    height: autp;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 25px
}

.details input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ececec;
    border-radius: 4px
}

.coinbase-login input::placeholder {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    color: #ababab
}

.below-input {
    display: flex;
    justify-content: space-between;
}

.below-input input {
    margin-right: 7px;
    padding: 0;
}

.below-input div {
    display: flex;
    align-items: center;
}

.below-input p {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 500;
    color: #949494
}

.below-input button {
    padding: 13px 19px;
    background: linear-gradient(#1652f0,#0d40c6);
    border: none;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    border-radius: 3px;
    font-family: Montserrat;
}

.below-input button:hover {
    color: #fff;
    background: #0d40c6;
    cursor: pointer
}

.below-signin-wrapper {
    text-align: center;
}

.below-signin-wrapper div {
    margin-bottom: 7px;
}

.below-signin-wrapper div a {
    color: #fff;
    text-decoration: none;
    margin-right: 8px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
}

.below-signin-wrapper a {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.below-signin-wrapper div a:hover, .below-signin-wrapper a:hover {
    text-decoration: underline;
}

